@import url("reset.css");

* {
	color: #FFF;
	background-color: #000;
}

GtkContainer {
	padding: 3px;
}

GtkEventBox {
	padding: 5px;
	margin: 5px;
}

GtkLabel {
  border-style: solid;
  border-width: 5px;
  border-color: #66e0ff;
  border-radius: 5px;	
}

/* main clock display */

#timeLabel {
	font-size: 80px;
	color: #F00;
	border-style: none;
}

#mainClock {
	font-size: 28px;
	border-style: none;
}

.scrollbar.trough,
.scrollbars-junction {
  background-color: #000;
}

.scrollbar.slider {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: transparent;
  background-clip: padding-box;
  background-color: #66e0ff;
}

.scrollbar.slider:prelight {
  background-color: lighter(#66e0ff);
}

