@import url("reset.css");

@define-color tron_orange #DF740C;
@define-color tron_yellow #FFE64D;
@define-color pane #E6FFFF;
@define-color tron_cyan #6FC3DF;

* {
	color: @pane;
	background-color: #000;
}

GtkContainer {
	padding: 3px;
}

GtkEventBox {
	padding: 8px;
	margin: 8px;
}

GtkLabel {
  border-style: solid;
  border-width: 5px;
  border-color: @tron_cyan;
  border-radius: 5px;	
}

/* main clock display */

#timeLabel {
	font: Roboto;
	font-size: 80px;
	color: @tron_orange;
	border: none;
}

#mainClock {
	font: Roboto;
	font-size: 28px;
	border: none;
}

.button {
	margin: 8px;
}

#stationInfo {
	font-size: 24px;
  font-weight: bold;
}

.scrollbar.slider,
.scale.slider {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: transparent;
  background-clip: padding-box;
  background-color: @tron_cyan;
}

.scrollbar.slider:prelight,
.scale.slider:prelight {
  background-color: lighter(@tron_cyan);
}
