@import url("main.css");

@define-color tron_orange #DF740C;
@define-color tron_yellow #FFE64D;

* {
  color: @yellow;
}

GtkLabel {
  border-color: @tron_orange;
}

/* main clock display */

#timeLabel {
  color: @tron_orange;
}

.scrollbar.slider,
.scale.slider {
  background-color: @tron_orange;
}

.scrollbar.slider:prelight,
.scale.slider:prelight {
  background-color: lighter(@tron_orange);
}
