@import url("main.css");

@define-color pane #E6FFFF;
@define-color tron_cyan #6FC3DF;
@define-color tron #7DFDFE;

* {
  color: @pane;
}

GtkLabel {
  border-color: @tron_cyan;
}

/* main clock display */

#timeLabel {
  color: @pane;
}

.scrollbar.slider,
.scale.slider {
  background-color: @tron_cyan;
}

.scrollbar.slider:prelight,
.scale.slider:prelight {
  background-color: lighter(@tron_cyan);
}
