@import url("reset.css");

* {
  background-color: #000;
}

GtkContainer {
  padding: 3px;
}

GtkEventBox {
  padding: 8px;
  margin: 8px;
}

GtkLabel {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;  
}

/* main clock display */

#timeLabel {
  font: Roboto;
  font-size: 80px;
  border: none;
}

#mainClock {
  font: Roboto;
  font-size: 28px;
  border: none;
}

.button {
  margin: 8px;
}

#stationInfo {
  font-size: 24px;
  font-weight: bold;
}

.scrollbar.slider,
.scale.slider {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: transparent;
  background-clip: padding-box;
}

.scrollbar.slider:prelight,
.scale.slider:prelight {
}
