@import url("main.css");

@define-color tron_orange #FB8448;
@define-color tron_yellow #FFF05F;
@define-color red #FF0000;

* {
  color: @tron_yellow;
}

GtkLabel {
  border-color: @tron_orange;
}

/* main clock display */

#timeLabel {
  color: @red;
}

.scrollbar.slider,
.scale.slider {
  background-color: @tron_orange;
}

.scrollbar.slider:hover,
.scale.slider:hover {
  background-color: lighter(@tron_orange);
}
